### dot-files ###
config/git/.gitconfig-work
config/hammerspoon/professional.lua
config/nvim/lazy-lock.json
config/zsh/custom/professional.zsh

### install ###
install/ProfessionalBrewfile

### node ###
node_modules

### macOS ###
.DS_Store

## Temp files ##
tmp/*
.env
